
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /* box-sizing: border-box;
    box-sizing: inherit; */
}


/*--------------------*/
/* outline: tomato; */
/* черный #000000 */
/* основной текст #212121; */
/* второстепеный цвет #757575; */
/* акцент #2196F3 */
/* оттенок акцента #188CE8; */
/* футер бекграунд #2F303A; */
/* color #F5F4FA */
/* молочный #F5F4FA */


:root {
    --opacity-grey: rgba(117, 117, 117, 1);
    --opacity-white: rgba(255, 255, 255, 0.6);
    --white-color: #ffffff;
    --milk-color: #F5F4FA;
    --grey-color: #757575;
    --black-color: #212121;
    --backgraund-color: #2F303A;
    --black: #000000;
    --akcent-color: #2196F3;
    --akcent-fon: #188CE8;
    --hover:#188ae871;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* img{
    display: block;
    width: 100%;
    height: auto;
} */

html {
    box-sizing: border-box;
}


ul li {
    list-style: none;
    padding: 0;
    margin: 0;
}

body {
    background-color: #F5F4FA;
    margin: 0;
    font-family: 'Roboto',
        sans-serif;
    color: var(--black-color);
}

/* навигация */

.header {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.main-nav {
    max-width: 1170px;
    padding: 25px;
    margin: auto;
    display: flex;
    align-items: baseline;
}

/* лого */
.logo {
    padding: 10px;
    margin-right: 100px;
    color: var(--black);
    font-size: 26px;
    text-decoration: none;
    font-family: 'Raleway',
     sans-serif;
     border-radius: 30px;
}

.logo-span {
    color: var(--akcent-color);
}

.secondary {
    color: var(--white-color);
}

.nav-li {
    display: flex;
    max-width: 1170px;
    /* margin: auto; */
}

.nav-li .item a {
    display: block;
    padding: 10px 0;
    border-radius: 30px;

    color: var(--black-color);

    /* margin-right: 40px; */
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}



/* Варианты выделить */

/* .nav-li .item:last-child{
        margin: 0;
    } */

/* .nav-li .item:not(:last-child ){
        margin-right: 40px;
    } */

.nav-li .item+.item {
    margin-left: 40px;
}

.nav-li a:hover,
.nav-li:focus {
    color: var(--akcent-color);
}

.nav-li a:active{
    color: var(--milk-color);
}


/* блок обратной связи */

.nav-aut {
    display: flex;
    margin-left: auto;
}

.nav-aut .item+.item {
    margin-left: 12px;
}

.nav-aut a {
    padding: 5px;
    border-radius: 30px;
    list-style-type: none;
    font-style: normal;
    color: var(--opacity-grey);
    text-decoration: none;
}


.nav-aut a:hover,
.nav-aut a:focus {
color: var(--akcent-color);
}

.nav-aut a:active {
    color: var(--milk-color);
}

.nav-item a{
justify-content: center;
}

.nav-svg{
    display: inline-block;
    fill: var(--grey-color);
    margin:5px 5px 0 0;
    width: 16px;
    height: 16px;
}

.nav-svg:hover{
 fill: var(--akcent-color);
}

.main {
    max-width: 1170px;
    margin: auto;
    background-color: var(--white-color);
}

/* блок герой */

.overlay{
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    /* outline: 1px solid black; */
    background-image: linear-gradient(to right,
     rgba(188, 11, 46, 0.36),
     rgba(30, 1, 46, 0.716)
     ),
     url(../images/hero.jpg);
     background-color: #000000;
    background-size: cover;
    background-position: center;

}

.title h {
    width: 100%;
    padding: 0;
    margin: 0;
}

.title {
    padding-top: 150px;
    background-color: var(--backgraund-color);
    color: var(--white-color);
    font-size: 44px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0.1em;
    text-align: center;
    text-transform: uppercase;
}

.btn {
    display: inline-block;
    /* font-family: 'Roboto'; */
    font-size: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: var(--akcent-color);
    color: var(--white-color);
    width: 200px;
    height: 50px;
    left: 700px;
    top: 430px;
    cursor: pointer;
}

.btn:hover,
.btn:focus {
    background-color: var(--akcent-fon);
}

/* наши сильные стороны */

.power {
     margin-top: 50px;
}

.power-ul {
    display: flex;
    padding: 20px 4%;
    justify-content: space-between;
}

.li-power{
    width: 23%;
}

/* SVG */

.power-wrapper {
    padding: 10px 33% ;

background-color: var(--milk-color);  
}

.power-svg {
    width: 70px;
    height: 70px;
    /* outline: 1px solid rgb(0, 200, 255); */
    }

.power h3 {
    margin-top: 10px;
    /* font-family: 'Roboto'; */
    font-style: normal;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
}

.power p {
    margin-top: 10px;
    color: var(--grey-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}

.why {
    width: 100%;
    margin: 40px 0;
    justify-content: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0.03em;
    text-align: center;
}

.why-item {
    display: flex;
    justify-content: space-around;
}

.why-item li {
    margin: 10px;
}

.why-pc{
    background-image: url(../images/img.jpg);
    width: 370px;
    /* height: 294px; */
}

.why-mob{
    background-image: url(../images/box-2.jpg);
    width: 370px;
    /* height: 294px; */
}

.why-dis{
    background-image: url(../images/box-3.jpg);
    width: 370px;
    /* height: 294px; */
}

.why-item p{background-image: linear-gradient(to right,
    rgba(188, 11, 46, 0.414),
    rgba(30, 1, 46, 0.31));
    display: block;
    margin-top: 240px; 
    padding: 15px;
    color: var(--white-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}


/* Команда */

.team {
    max-width: 1170px;
    margin-top: 30px;
    background-color: var(--milk-color);
}

.team-h2 {
    padding: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
}

.team-item {
    margin-top: 50px;
    text-align: center;
    padding: 0;
    width: 210px;
    border-radius: 4px;
    display: flex;
}

/* .why-item:nth-child(3n) {
    margin-bottom: 0;
} */


.team-item> li{
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin: 5%;
    padding: 5px;
}



.team h3 {
    margin-top: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.team p {
    margin-top: 10px;
    margin-bottom: 16px;
    color: var(--grey-color);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    }

    /* social link */
    
    .social-link {
        display: flex;
        padding: 20px;
        justify-content: space-around;
    }
    
    .social-link svg {
        width: 20px;
        height: 20px;
    }
    
    .social-svg {
        padding: 10px;
        border-radius: 20px;
        fill: #afb1b8;
    }
    
    .social-svg:hover {
        cursor: pointer;
        background-color: #188CE8;
        fill: var(--white-color);
    }


/* clients */

.clients{
    margin: 20px 10% 0; 
    padding-bottom: 50px;
    text-align: center;
}

.clients h2{
    margin: 20px;
}

.names{
    display: flex;
    justify-content: space-between;
}

.clients-wrapper{
    padding: 5%;
}

.clients-svg{
padding: 0;
width: 100px;
height: 60px;
outline: 2px solid var(--milk-color);
fill: #85aed0;
border-radius: 5px;
}


/* footer */
.footer {
    margin: auto;
    background-color: var(--backgraund-color);
}

.footer-2{
    display: flex;
    padding: 10px;
    width: 1170px;
    margin: auto;
}

.foot-aut {
    text-decoration: none;
    list-style-type: none;
    font-style: normal;
    color: var(--opacity-white);
}

.foot-aut:hover,
.nav-aut, 
.item:focus {
 color: var(--akcent-color);
 border-radius: 30px;
}

.foot-item a:active, :focus{
    border-radius: 30px;
color: var(--milk-color);
}

/* footer logo */

.foot-logo{
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
}



.foot-item a {
    display: inline-flex;
    padding: 5px;
     margin: 2px;
}

.maps {
    color: var(--white-color);
    text-decoration: none;
    font-style: normal;
}

.maps:hover {
    color: var(--akcent-color);
}

.footer-p{
    padding: 10px 35px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
}

.footer-social{
margin: auto 0px;
}

.send{
    margin: auto;
}
.send > p{
    padding: 10px 3px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
}

.mail{
    display: flex;
}

.mail > p{
    border: 1px solid var(--grey-color);
    color: var(--grey-color);
    padding: 15px 10px;
    display: inline-block;
    width: 360px;
    height: 50px;
}

.send-button{
    margin: 0 10px;
    color: #ffffff;
    background-color: var(--akcent-fon);
    width: 200px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
}

.send-button:hover{
    background-color: var(--white-color);
    color: #188CE8;
}

.svg-send{
    width: 24px;
    height: 24px;
    fill: var(--grey-color);
}

/* Портфолио */

.nav-btn {
    display: flex;
    justify-content: center;
}

.nav-btn ul {
    padding: 0px;
    border-radius: 5px;
}

.nav-btn li button {
    margin: 20px;
    box-sizing: border-box;
    border: 1px solid #000000;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.03em;
    text-align: center;
    height: 38px;
    left: 865px;
    top: 174px;
    background-color: var(--milk-color);
    color: var(--black-color)
}

.nav-btn li button:active,
:focus {
    color: var(--white-color);
    background-color: var(--akcent-fon);
}

.nav-btn li button:hover {
    color: var(--milk-color);
    background-color: var(--akcent-fon);
    cursor: pointer;
}

ul{
    margin: 0;
}

.work-wrapper{
margin-bottom: 40px;
}

.work {
    justify-content: center;
    margin: -15px;
    display: flex;
    flex-wrap: wrap;
}

.work-item {
    text-align: center;
    width: 370px;
    border: 1px solid #EEEEEE;
    /* width: calc((100% - 100px) / 3); */
    margin: 15px;
}

.work-item > h2{
margin: 18px;
}
/* .work-item:nth-child(-n+3) {
    margin-bottom: 0;
}

.work-item:nth-child(3n) {
    margin-right: 0;
} */

.work a {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: var(--black-color);
    text-decoration-line: none;
}

.work p {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--grey-color);
}
