ul li{
    list-style: none
}

a {
    text-decoration: none;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

img {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    box-sizing: border-box;
}

.visually-hidden {
        position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

:root {
    --opacity-grey: rgba(117, 117, 117, 1);
    --opacity-white: rgba(255, 255, 255, 0.6);
    --white-color: #ffffff;
    --milk-color: #F5F4FA;
    --grey-color: #757575;
    --black-color: #212121;
    --backgraund-color: #2F303A;
    --black: #000000;
    --akcent-color: #2196F3;
    --akcent-fon: #188CE8;
    --hover: #188ae871;
}

body{
    background-color: var(--milk-color);
    color: var(--black-color);
    font-family: 'Roboto';
    font-style: normal;
}

.header {
    z-index: 2;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.conteiner {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    height: 80px;
}

.nav {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

/* лого */
.logo {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-right: 5%;
    color: var(--black);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
}

.word-web {
    color: var(--akcent-color);
}

.secondary {
    color: var(--white-color);
}

/* навигация */

.nav>ul {
    display: flex;
    width: 30%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.nav-list {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
}

.item::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--akcent-color);
}

.header-link {
    color: var(--black-color);
}

.header-link:hover {
    color: var(--akcent-color);
    transition: all 0.2s ease 0s;
}

.connection {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.connection-link :hover {
    color: #188CE8;
}

.connection a {
    padding: 5px;
    color: #757575;
}

.connection-svg {
    width: 20px;
    height: 23px;
    fill: currentColor;
}

/* общая оболочка*/
.main {
    padding-top: 80px;
    margin: auto;
    background-color: var(--white-color);
}
















.nav-btn {
    display: flex;
    justify-content: center;
    margin: 94px auto 50px;
}

.nav-btn button {
    text-align: center;
    height: 38px;
    padding:6px 22px;
    margin: 4px;
    transition: all 0.7s ease 0s;
    border-radius: 5px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.03em;
    background-color: var(--milk-color);
    color: var(--black-color)
}

.nav-btn button:focus {
    color: var(--white-color);
    background-color: var(--akcent-fon);
}

.nav-btn button:hover {
    color: var(--milk-color);
    background-color: var(--akcent-fon);
    cursor: pointer;
    box-shadow: 2px 5px 3px rgba(0, 0, 0, 0.1),
    2px 3px 5px rgba(0, 0, 0, 0.08),
    2px 3px 5px rgba(0, 0, 0, 0.12);
}






















.work-wrapper {
    max-width: 1200px;
    margin: 20px auto;
}

.work {
    justify-content: center;
    margin: -15px;
    display: flex;
    flex-wrap: wrap;
}

.product{
    width: 370px;
    border: 1px solid #EEEEEE;
    margin: 15px;
    transition: transorm 250ms (cubic-bezier(.31, .88, .75, .21));
}

.thumb {
    width: 100%;
    height: 294px;

    overflow: hidden;
    position: relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.product-thumb {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(24, 140, 232, 0.6);
    transform: translateY(101%);
    transition: transform 700ms cubic-bezier(.58, -0.41, .39, 1.33);
}

.product:hover .product-thumb{
    transform: translate(0);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: transform 250ms (cubic-bezier(.31, .88, .75, .21));
}

.product-thumb p{
    padding: 10%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    /* line-height: 28px; */
    /* letter-spacing: 0.03em; */
    color: var(--white-color);
}

.work-title {
    margin: 15px 5%;
    font-size: 18px;
}

.product a {
    color: var(--black-color);
}

.work-names {
    padding: 0 5%;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--grey-color);
}